.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productDetail {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin-top: 20px;
  width: 100%; 
}

.imageContainer {
  flex: 1;
  padding-right: 20px;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
}

.productInfo {
  max-width: 500px;
  width: 100%;
}

.productInfo h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.productInfo p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.quantitySection {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantityInput {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
}

.addToCartButton {
  background-color: rgb(80, 110, 187);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.addToCartButton:hover {
  background-color: rgb(84, 60, 177);
}


.error {
  color: red;
  font-size: 1.2rem;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4f4b97;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup p {
  margin: 0;
}

@media (max-width: 768px) {
  .productDetail {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .productImage {
    max-width: 100%;
    height: auto;
  }

  .productInfo {
    max-width: 100%;
  }

  .productInfo h1 {
    font-size: 1.6rem;
  }

  .productInfo p {
    font-size: 0.9rem;
  }

  .price {
    font-size: 1rem;
  }

  .quantitySection {
    flex-direction: column;
    align-items: flex-start;
  }

  .quantityInput {
    width: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .addToCartButton {
    width: 100%;
    font-size: 1.1rem;
    padding: 12px;
  }

  .popup {
    font-size: 14px;
    padding: 8px 15px;
  }
}
